@font-face {
  font-family: Helvetica;
  src: url(./HelveticaNowDisplay-LightIta.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 10px;
}

.card{
    height: 300px;
    width: 250px;
    background-color: rgb(185, 225, 240);
    border: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.card img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    transform:translateY(-20%);
}

#bottom{
    display: flex;
    gap: 50px;
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    bottom: -40%;
    background: linear-gradient(transparent,skyblue);
    transition: all ease 0.5s;
}
#bottom button{
    border: none;
    color: black;
}
#bottom h4{
    color: black;
}

.card:hover #bottom{
    bottom: 10%;
}

#bottom button:hover {
  color: red;
}






