*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


/* Absolute */


/* #car1{
    width: 200px;
    height: 100px;
    background-color: red;
}

#car2{
    position: absolute;
    /* it comes above screen */
    /* width: 240px;
    height: 170px;
    background-color: green; */
    /* left: 50%; */
    /* left top bottom and zworks only when position is given to that */
/* } */


/* #car3{
    width: 290px;
    height: 190px;
    background-color: blue;
} */






/* #box{
    height: 400px;
    width: 400px;
    background-color: red;
    position: relative;
}

#smallbox{
    height: 300px;
    width: 300px;
    background-color: aqua;
}

#microbox{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
}

#abox{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    background-color: paleturquoise;
} */



/* #homepage{
    width: 100%;
    height: 3000px;
    color: #222;
}

#side{
    right: 0;
    top: 50%;
    position: fixed;
    /* position: absolute; */
     /* width: 100px; */
    /* height: 400px; */
    /* background-color: red;  */
     /* } */




/* 
#parent{
    width: 100%;
    background-color: #222;
}

#child{
    width: 100%;
    height: 2000px;
    background-color: #333;
}

#child2{
    width: 100%;
    height: 2000px;
    background-color: #555;
} */

/* position: sticky is a hybrid of relative and fixed positioning */
/* #sticky{
    position: sticky;
    top: 0;
    width: 300px;
    height: 200px;
    background-color: red;
/* } 