*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "left-up top-center top-right"
                         "left-up center bottom-right"
                         "left-bottom left-bottom bottom-right";
    grid-gap: 20px;
    padding: 10px;

}

#left-up{
    background-color: darkblue;
    grid-area: left-up ;
}
#top-center{
    background-color: darkgray;
    grid-area: top-center;
}
#top-right{
    background-color: magenta;
    grid-area: top-right;
}
#bottom-right{
    background-color: darkred;
    grid-area: bottom-right;
}
#center{
    background-color: darkgreen;
    grid-area:center
} 
#left-bottom{
    background-color: mediumvioletred;
    grid-area: left-bottom;
} 