*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 1s ease 0s, background-color 2s ease 0s;
}

#box:hover{
    /* width: 400px; */
    background-color: brown;
    transform: rotate(135deg);
}